In [15]:
import pandas as pd
import numpy as np
import glob

#1. Get all CSV file paths from a folder
csv_files = glob.glob("*.csv")

#2. Create a dictionary of DataFrames
dataframes = {file: pd.read_csv(file) for file in csv_files}

#3. Display the first few rows of each DataFrame
for file, df in dataframes.items():
    print(f"\n--- {file} ---")
    print(df.head())

--- customers_wk9_thurs.csv ---
   customer_id first_name last_name  age state  income registration_date  \
0            1       John     Smith   34    CA   75000        2022-01-15
1            2      Sarah   Johnson   28    NY   82000        2022-01-22
2            3    Michael     Brown   45    TX   95000        2022-02-03
3            4      Emily     Davis   31    FL   68000        2022-02-14
4            5      David    Wilson   52    IL  110000        2022-02-28

                     email
0     john.smith@email.com
1  sarah.johnson@email.com
2  michael.brown@email.com
3    emily.davis@email.com
4   david.wilson@email.com

--- products_wk9_thurs.csv ---
   product_id                   product_name           category  price  \
0           1  Wireless Bluetooth Headphones        Electronics  79.99
1           2         Organic Cotton T-Shirt           Clothing  24.99
2           3   Stainless Steel Water Bottle      Home & Garden  19.99
3           4          Leather Crossbody Bag        Accessories  89.99
4           5               Yoga Mat Premium  Sports & Outdoors  34.99

  launch_date       brand
0  2021-03-15   AudioTech
1  2021-04-20     EcoWear
2  2021-05-10   HydroLife
3  2021-06-01  StyleCraft
4  2021-06-15     FitZone

--- sales_wk9_thurs.csv ---
   sale_id  customer_id  product_id     transaction_date  quantity  \
0        1            1           1  2022-02-10 14:30:00         1
1        2            2           3  2022-02-15 10:15:00         2
2        3            3           5  2022-02-20 16:45:00         1
3        4            4           2  2022-02-25 11:20:00         3
4        5            5           4  2022-03-01 13:10:00         1

   total_amount
0         79.99
1         39.98
2         34.99
3         74.97
4         89.99

In [2]:
# See all keys (file names)
print(dataframes.keys())

dict_keys(['customers_wk9_thurs.csv', 'products_wk9_thurs.csv', 'sales_wk9_thurs.csv'])

In [3]:
# Rename each DataFrame to an easier variable name
customers_df = dataframes["customers_wk9_thurs.csv"]
products_df = dataframes["products_wk9_thurs.csv"]
sales_df = dataframes["sales_wk9_thurs.csv"]

# check first rows to make sure everything loaded correctly
print(customers_df.head())
print(products_df.head())
print(sales_df.head())

   customer_id first_name last_name  age state  income registration_date  \
0            1       John     Smith   34    CA   75000        2022-01-15
1            2      Sarah   Johnson   28    NY   82000        2022-01-22
2            3    Michael     Brown   45    TX   95000        2022-02-03
3            4      Emily     Davis   31    FL   68000        2022-02-14
4            5      David    Wilson   52    IL  110000        2022-02-28

                     email
0     john.smith@email.com
1  sarah.johnson@email.com
2  michael.brown@email.com
3    emily.davis@email.com
4   david.wilson@email.com
   product_id                   product_name           category  price  \
0           1  Wireless Bluetooth Headphones        Electronics  79.99
1           2         Organic Cotton T-Shirt           Clothing  24.99
2           3   Stainless Steel Water Bottle      Home & Garden  19.99
3           4          Leather Crossbody Bag        Accessories  89.99
4           5               Yoga Mat Premium  Sports & Outdoors  34.99

  launch_date       brand
0  2021-03-15   AudioTech
1  2021-04-20     EcoWear
2  2021-05-10   HydroLife
3  2021-06-01  StyleCraft
4  2021-06-15     FitZone
   sale_id  customer_id  product_id     transaction_date  quantity  \
0        1            1           1  2022-02-10 14:30:00         1
1        2            2           3  2022-02-15 10:15:00         2
2        3            3           5  2022-02-20 16:45:00         1
3        4            4           2  2022-02-25 11:20:00         3
4        5            5           4  2022-03-01 13:10:00         1

   total_amount
0         79.99
1         39.98
2         34.99
3         74.97
4         89.99

In [16]:
# Load all three CSV files and convert date columns to proper DateTime format using pd.to_datetime()
sales_df['transaction_date'] = pd.to_datetime(sales_df['transaction_date'])  
products_df['launch_date'] = pd.to_datetime(products_df['launch_date'])
customers_df['registration_date'] = pd.to_datetime(customers_df['registration_date'])

print(sales_df['transaction_date'])
print(products_df['launch_date'])
print(customers_df['registration_date'])

0     2022-02-10 14:30:00
1     2022-02-15 10:15:00
2     2022-02-20 16:45:00
3     2022-02-25 11:20:00
4     2022-03-01 13:10:00
              ...
145   2024-02-15 15:20:00
146   2024-02-20 11:30:00
147   2024-02-25 13:45:00
148   2024-03-01 16:15:00
149   2024-03-05 10:30:00
Name: transaction_date, Length: 150, dtype: datetime64[ns]
0    2021-03-15
1    2021-04-20
2    2021-05-10
3    2021-06-01
4    2021-06-15
5    2021-07-08
6    2021-07-22
7    2021-08-05
8    2021-08-18
9    2021-09-02
10   2021-09-16
11   2021-10-01
12   2021-10-15
13   2021-11-01
14   2021-11-12
15   2021-11-28
16   2021-12-10
17   2021-12-22
18   2022-01-08
19   2022-01-20
20   2022-02-03
21   2022-02-17
22   2022-03-01
23   2022-03-15
24   2022-03-28
25   2022-04-10
26   2022-04-22
27   2022-05-05
28   2022-05-18
29   2022-06-01
30   2022-06-14
31   2022-06-28
32   2022-07-10
33   2022-07-23
34   2022-08-05
35   2022-08-18
36   2022-09-01
37   2022-09-14
38   2022-09-27
39   2022-10-10
40   2022-10-23
41   2022-11-05
42   2022-11-18
43   2022-12-01
44   2022-12-14
45   2022-12-27
46   2023-01-09
47   2023-01-22
48   2023-02-04
49   2023-02-17
50   2023-03-02
51   2023-03-15
52   2023-03-28
53   2023-04-10
54   2023-04-23
55   2023-05-06
56   2023-05-19
57   2023-06-01
58   2023-06-14
59   2023-06-27
Name: launch_date, dtype: datetime64[ns]
0    2022-01-15
1    2022-01-22
2    2022-02-03
3    2022-02-14
4    2022-02-28
        ...
95   2023-12-08
96   2023-12-15
97   2023-12-22
98   2023-12-29
99   2024-01-05
Name: registration_date, Length: 100, dtype: datetime64[ns]

In [21]:
# Extract useful components from the sales transaction dates: year, month, and day of week
# - Month (as integer)
# - Day of week (as name, e.g., 'Monday')
# - Year 
# My code here
sales_df['month'] = sales_df['transaction_date'].dt.month
sales_df['day_of_week'] = sales_df['transaction_date'].dt.day_name()
sales_df['year'] = sales_df['transaction_date'].dt.to_period('Y')
sales_df

,sale_id,customer_id,product_id,transaction_date,quantity,total_amount,month,day_of_week,year
0,1,1,1,2022-02-10 14:30:00,1,79.99,2,Thursday,2022
1,2,2,3,2022-02-15 10:15:00,2,39.98,2,Tuesday,2022
2,3,3,5,2022-02-20 16:45:00,1,34.99,2,Sunday,2022
3,4,4,2,2022-02-25 11:20:00,3,74.97,2,Friday,2022
4,5,5,4,2022-03-01 13:10:00,1,89.99,3,Tuesday,2022
...,...,...,...,...,...,...,...,...,...
145,146,86,30,2024-02-15 15:20:00,1,34.99,2,Thursday,2024
146,147,87,32,2024-02-20 11:30:00,3,83.97,2,Tuesday,2024
147,148,88,34,2024-02-25 13:45:00,2,109.98,2,Sunday,2024
148,149,89,36,2024-03-01 16:15:00,1,29.99,3,Friday,2024
149,150,90,38,2024-03-05 10:30:00,4,139.96,3,Tuesday,2024

In [22]:
# Display the date range covered by your sales data (earliest and latest dates)
sales_df['transaction_date'] = pd.to_datetime(sales_df['transaction_date'])
print(f"Earliest date: {sales_df['transaction_date'].min()}")
print(f"Latest date: {sales_df['transaction_date'].max()}")

Earliest date: 2022-02-10 14:30:00
Latest date: 2024-03-05 10:30:00

In [23]:
# Basic Time Analysis
# Find the busiest day of the week for sales (by counting transactions)
day_counts = sales_df['day_of_week'].value_counts()

print("Transaction counts by day of week:")
print(day_counts)
# Friday is the busiest day of the week

Transaction counts by day of week:
day_of_week
Friday       24
Tuesday      22
Thursday     21
Sunday       21
Saturday     21
Wednesday    21
Monday       20
Name: count, dtype: int64

In [25]:
# Determine which month had the most transactions
monthly_transaction_counts = sales_df['month'].value_counts()
print("Months with the most transaction:")
print(monthly_transaction_counts)
# The month (2) Feburary had the most transactions

Months with the most transaction:
month
2     16
3     14
12    14
4     12
5     12
6     12
8     12
7     12
9     12
10    12
11    12
1     10
Name: count, dtype: int64

In [26]:
# Count how many sales happened in each year
yearly_sales_count = sales_df['year'].value_counts()
print("Number of sales transaction by year:")
print(yearly_sales_count)

Number of sales transaction by year:
year
2023    72
2022    65
2024    13
Freq: Y-DEC, Name: count, dtype: int64

In [33]:
# GroupBy and Aggregation
# Product Analysis
# Group products by category and calculate the average price for each category
category_avg_prices = products_df.groupby('category')['price'].mean()
print(category_avg_prices)

category
Accessories           35.073333
Clothing              52.240000
Electronics           59.990000
Home & Garden         30.156667
Sports & Outdoors    105.899091
Name: price, dtype: float64

In [34]:
# Count how many products are in each category
products_per_category = products_df['category'].value_counts()
print("Products per category")
print(products_per_category)

Products per category
category
Electronics          13
Clothing             12
Home & Garden        12
Accessories          12
Sports & Outdoors    11
Name: count, dtype: int64

In [38]:
# Customer Analysis:
# Group customers by state and find the average age in each state
customer_per_state = customers_df['state'].value_counts()
state_by_customers = (
    customers_df.groupby('state')['customer_id'].count()
    .reset_index(name = 'total_customers')
    .sort_values(by = 'total_customers', ascending = False)
)
print ('Number of customers per state:')
print (state_by_customers)

Number of customers per state:
  state  total_customers
0    CA               20
1    FL               20
2    IL               20
3    NY               20
4    TX               20

In [37]:
# Calculate total spending per customer (sum up all their purchases)
total_spending = sales_df.groupby("customer_id")["total_amount"].sum()
print("Total Spending per Customer")
print(total_spending.head())

Total Spending per Customer
customer_id
1    229.98
2    179.96
3    154.98
4    234.95
5    149.98
Name: total_amount, dtype: float64

In [39]:
# Find customers who have made the most purchases
purchase_counts = sales_df['customer_id'].value_counts()
purchase_counts.columns = ['customer_id', 'num_purchases']
customer_transactions = (
    sales_df.groupby('customer_id')['sale_id'].count()
    .reset_index(name = 'transactions')
    .sort_values(by = 'transactions', ascending = False)
)
print('Customers with most purchases')
print(customer_transactions.head())

Customers with most purchases
   customer_id  transactions
0            1             2
1            2             2
2            3             2
3            4             2
4            5             2

In [42]:
# Sales Analysis:
# Calculate total sales revenue by month
sales_df['month'] = sales_df['transaction_date'].dt.to_period('M')
monthly_revenue = sales_df.groupby('month')['total_amount'].sum()
print("Total Revenue Per Month")
print(monthly_revenue)

Total Revenue Per Month
month
2022-02    229.93
2022-03    504.92
2022-04    415.90
2022-05    450.90
2022-06    502.84
2022-07    485.90
2022-08    376.87
2022-09    660.90
2022-10    493.90
2022-11    481.89
2022-12    730.85
2023-01    384.91
2023-02    750.87
2023-03    440.90
2023-04    508.87
2023-05    726.89
2023-06    483.84
2023-07    444.90
2023-08    493.87
2023-09    489.86
2023-10    741.90
2023-11    540.87
2023-12    727.86
2024-01    479.88
2024-02    688.86
2024-03    169.95
Freq: M, Name: total_amount, dtype: float64

In [48]:
# Find the average transaction amount by day of the week
average_by_day = sales_df.groupby('day_of_week')['total_amount'].mean()

print("Average Transaction Amount by Day of Week:")
print(average_by_day)

Average Transaction Amount by Day of Week:
day_of_week
Friday       100.940833
Monday        90.927500
Saturday      61.121905
Sunday        99.551429
Thursday     102.267619
Tuesday       74.028636
Wednesday     96.071905
Name: total_amount, dtype: float64

In [49]:
# Determine which product category generates the most total revenue
category_revenue = products_df.groupby('category')['price'].sum().sort_values(ascending = False)
top_revenue = category_revenue.max()
print ('product category generates the most total revenue')
print (category_revenue)

product category generates the most total revenue
category
Sports & Outdoors    1164.89
Electronics           779.87
Clothing              626.88
Accessories           420.88
Home & Garden         361.88
Name: price, dtype: float64

In [50]:
# Part 3: Basic Data Insights
# Simple Comparisons:
# Find which state has the most customers
most_customers = customers_df['state'].value_counts()
top_count = most_customers.max()
print('State with the most customers')
print(most_customers.head(1))

State with the most customers
state
CA    20
Name: count, dtype: int64

In [51]:
# Identify the top 5 customers by total spending
top_customers = (
    sales_df.groupby('customer_id')['total_amount']
    .sum()
    .sort_values(ascending=False)

)
print("Top 5 customers by total spending:")
print(top_customers.head(5))

Top 5 customers by total spending:
customer_id
31    379.97
13    359.96
41    329.98
84    319.98
30    284.98
Name: total_amount, dtype: float64

In [52]:
# Determine which day of the week has the highest average transaction value
sales_df['transaction_date'] = pd.to_datetime(sales_df['transaction_date'])

sales_df['day_of_week'] = sales_df['transaction_date'].dt.day_name()
avg_transaction_by_day = sales_df.groupby('day_of_week')['total_amount'].mean()
avg_transaction_by_day = avg_transaction_by_day.sort_values(ascending=False)

print("Average transaction value by day of the week:")
print(avg_transaction_by_day)

Average transaction value by day of the week:
day_of_week
Thursday     102.267619
Friday       100.940833
Sunday        99.551429
Wednesday     96.071905
Monday        90.927500
Tuesday       74.028636
Saturday      61.121905
Name: total_amount, dtype: float64

In [ ]:
#### Discussion Questions
#### DateTime Benefits: How can extracting day of the week and month from dates help a retail business make better decisions?
This can help a retail business make better decisions about staffing through identifying peak days or months for optimized staffing levels to meet
customer demand effectively.Inventory management is well forcasted with extracting day of the week and month and reduces risk of stockouts or overstocking 

#### GroupBy Value: Why is it useful to group data by categories, states, or time periods rather than looking at individual transactions?
Grouping data helps retailers see trends and patterns that are hidden when you look at individual transactions. For example, it is easy to compare 
sales performance across different states, identify the most popular product by product categories. this gives a much clearer, big-picture view. 

#### Business Applications: Based on your findings, what simple recommendations would you give to help the retail chain improve their performance?